[core]
    pager = delta
	excludesfile = ~/dotfiles/git/.gitignore
[user]
	email = ajkaanbal@gmail.com
    name = Ricardo M. Vilchis

[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[mergetool]
    keebBackup = false
[alias]
	cof = !git for-each-ref --format='%(refname:short)' refs/ | fzf | xargs git checkout
[protocol "keybase"]
	allow = always
[init]
	templateDir = /home/ajkaanbal/.config/git/template

[delta]
    plus-color = "#012800"
    minus-color = "#340001"
    syntax-theme = Monokai Extended

[interactive]
    diffFilter = delta --color-only
[pull]
	rebase = false
