### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
vim/sessions
vim/bundle
vim/autoload
vim/view
vim/tmp
fonts
gtk/.config/gtk-3.0/bookmarks

emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/configuration.org
!emacs/.emacs.d/sensible-defaults.el

##Ignore some fish-shell functions


fish/.config/fish/functions/_*
fish/.config/fish/functions/tide*
fish/.config/fish/functions/fish*
fish/.config/fish/functions/gbage.fish
fish/.config/fish/functions/gbda.fish
fish/.config/fish/functions/gdt.fish
fish/.config/fish/functions/gdv.fish
fish/.config/fish/functions/ggl.fish
fish/.config/fish/functions/ggp.fish
fish/.config/fish/functions/ggpnp.fish
fish/.config/fish/functions/ggsup.fish
fish/.config/fish/functions/ggu.fish
fish/.config/fish/functions/gi.fish
fish/.config/fish/functions/gignored.fish
fish/.config/fish/functions/glp.fish
fish/.config/fish/functions/gpoat.fish
fish/.config/fish/functions/grename.fish
fish/.config/fish/functions/grt.fish
fish/.config/fish/functions/gtl.fish
fish/.config/fish/functions/gunwip.fish
fish/.config/fish/functions/gwip.fish
fish/.config/fish/functions/fzf_key_bindings.fish
fish/.config/fish/functions/kdp.fish
fish/.config/fish/functions/kgp.fish
fish/.config/fish/functions/nvm.fish

!fish/.config/fish/functions/fish_greeting.fish
