[submodule "nerdtree"]
    path =  vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
[submodule "undotree"]
    path =  vim/bundle/undotree
    url = https://github.com/mbbill/undotree.git
[submodule "vim-fugitive"]
    path =  vim/bundle/vim-fugitive
    url = https://github.com/tpope/vim-fugitive.git
[submodule "vim-json"]
    path =  vim/bundle/vim-json
    url = https://github.com/elzr/vim-json.git
[submodule "vim-sensible"]
    path =  vim/bundle/vim-sensible
    url = https://github.com/tpope/vim-sensible.git
[submodule "vim-python"]
    path =  vim/bundle/vim-python
    url = https://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "auto-pairs"]
    path =  vim/bundle/auto-pairs
    url = https://github.com/jiangmiao/auto-pairs.git
[submodule "ctrlp"]
    path =  vim/bundle/ctrlp
    url = https://github.com/kien/ctrlp.vim.git
[submodule "zencoding-vim"]
	path = vim/bundle/zencoding-vim
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vim/bundle/xterm-color-table.vim"]
	path = vim/bundle/xterm-color-table.vim
	url = https://github.com/guns/xterm-color-table.vim.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/HTML-AutoCloseTag"]
	path = vim/bundle/HTML-AutoCloseTag
	url = https://github.com/vim-scripts/HTML-AutoCloseTag.git
[submodule "vim/bundle/MatchTag"]
	path = vim/bundle/MatchTag
	url = https://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/vim-quickrun"]
	path = vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
