snippet p
`!p
snip.rv = 'package ' + '.'.join(path.split('/')[3:-1])
`
endsnippet

snippet ld
log.debug($1)
endsnippet

snippet pl
println($1)
endsnippet

snippet ppl
pprint.pprintln($1)
endsnippet

snippet pld
println("============================$1=============================")
endsnippet

snippet amm
ammonite.Main(predefCode = "println(\"Starting Debugging!\")").run(
"$1" -> $2
)
endsnippet
